# The YAML file for GitHub Actions CI/CD EP3 with AWS

name: 'GitHub-AWS CI/CD'

on:
  push:
    branches:
      - 'main'
    paths:
      - 'github-devops/ep2-aws/cvHtml/**'

jobs:
  aws_s3_job:
    name: 'AWS S3 Web Hosting'
    runs-on: 'ubuntu-latest'

    steps:

      - name: GIT Checkout
        id: 'git-checkout'
        uses: "actions/checkout@v4"

      - name: CI - Test App & Environment
        id: 'ci-test-app'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_TF_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_TF_KEY }}
        run: |
          cd ./github-devops/ep2-aws
          python -m venv .env
          source .env/bin/activate
          pip install awscli
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_TF_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_TF_KEY }}"
          aws s3 ls s3://cv.daslearning.in/
          deactivate

      - name: CD - Website Files Upload
        id: 'html-upload'
        if: |
          github.ref == 'refs/heads/main'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_TF_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_TF_KEY }}
        run: |
          cd ./github-devops/ep2-aws
          python -m venv .env
          source .env/bin/activate
          pip install awscli
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_TF_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_TF_KEY }}"
          aws s3 sync ./cvHtml/ "s3://cv.daslearning.in"
          deactivate
